@tailwind base;
@tailwind components;
@tailwind utilities;








.active .navbarStylingComponents {
    width: 100%;
}

.radioParent:hover .radioChild {
    background: #F49401;
}

.bottom .active {
    color: #F49401;
    background: transparent;
    
}

@media (max-width: 1150px) {
    .active {
        color: white;
        background: #2C265F;
        border-radius: 6px;
        overflow: hidden;
    }
    .active:hover {
        background: #2C265F20;
    }
}

@media (min-width: 1150px) {
    .active {
        color: #F49401;
    }

    .navbarStylingComponents {
        width: 0px;
    }

    .navbarStylingComponentsParent:hover .navbarStylingComponents {
        width: 100%;
    }
}